body {
  background: #333333;
  font-family: sans-serif;
  margin:0;
  padding:0;
}

.drag-window-text, .drag-window-image, .drag-window-video {
  z-index: 1000;
  background-color: #333333 /*#ffffff*/;
  /*cursor:move;*/
  position:absolute;
  /* display:none; */
}

.drag-window-text {
  width: 320px;
  height: 256px;
}

.drag-window-image {
  width: 400px;
  height: 270px;
}

.drag-window-video {
  width: 320px;
  height: 256px;
}

.title-bar {
  background: #494ca2; /*#1abc9c;*/
  cursor: move;
  height: 26px;
}

.title-bar h1 {
  color:#fff;
  font-size: 16px;
  font-weight: normal;
  padding-left: 5px;
  line-height: 30px;
  margin: 0px;
}

.content {
  margin: auto;
  padding: 10px;
  font-size: 14px;
  color: white /*#333333*/;
}

.main-image {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  height: 150px;
  width: 380px;
  margin: 0px 0px 10px 0px;
}

.tumb-image {
  width: 80px;
  height: 60px;
  display: block;
  background-color: red;
  margin: auto;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
}

.close-button {
  position: absolute;
  right: 1px;
  top: 1px;
  width: 25px;
  height: 22px;
  opacity: 0.3;
  cursor: pointer;
}
.close-button:hover {
  opacity: 1;
}
.close-button:before, .close-button:after {
  position: absolute;
  left: 8px;
  content: '';
  height: 23px;
  width: 2px;
  background-color: #333333;
}
.close-button:before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.close-button:after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.right-button {
  width: 0; 
  height: 0; 
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid #494ca2; /*#1abc9c;*/
  cursor: pointer;
}

.left-button {
  width: 0px; 
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent; 
  border-right:12px solid #494ca2; /*#1abc9c;*/
  cursor: pointer;
}

.left-button:hover, .right-button:hover {
  opacity: 0.4;
}

.sidebar {
  list-style-type:none;
  background-color: #494ca2; /*#1abc9c;*/
  width:160px;
  height:100%;
  top:0;
  bottom:0;
  text-align: center /*left*/;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  transition:1s ease;
  color:white;
}
.sidebar li {
  text-indent: 10px;
  line-height: 40px;
  background-color: #494ca2 !important;
  /*transition:0.5s ease;*/
}
.sidebar li:hover {
  background-color: #c6cbef !important;
  color: #494ca2;
  font-weight: bold;
  cursor:pointer;
}
.sidebar > .sidebar-main {
  height: 60px;
  font-size: 1.2vw;
  line-height: 60px;
 background-color: #434594 !important;
}

#divCanvas {
  position: relative;
}

#canvas3D {
  z-index: 2;
  background-color: #333333;
  pointer-events: auto;
  position: absolute;
}

.toolbar {
  z-index: 1002;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #494ca2; /*#1abc9c;*/
  position:fixed;
  bottom: 0px;
  left: -590px;
  right: 0px;
  height: 60px;
  width: 750px;
  border-radius: 0px 20px 0px 0px;
}

.toolbar:hover, .toolbar:focus, .toolbar:active  {
  left: 0px;
  -moz-transform: none;
  -webkit-transform: none;
  -o-transform:none;
  transform:none;
  /*width: 0px;*/
}

.options {
  width: 80px;
  position:fixed;
  bottom:0;
  left:0;
  right: 0px;
  z-index:1001;
  background-color: #494ca2; /*#1abc9c;*/
  width:160px;
  height:60px;
}
.options h1 {
  color:#fff;
  font-size: 16px;
  font-weight: normal;
  padding-left: 20px;
}

.options-back {
  position:relative;
  width:160px;
  height:60px;
  background-color: #494ca2; /*#1abc9c;*/
}

.button {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 50% 50%;
  height: 40px;
  width: 40px;
  cursor: pointer;
  margin: auto;
  border: 1px solid #494ca2; /*#1abc9c;*/
}
.button:hover {
  border: 1px solid white;
  background-color: #c6cbef;
}

table {
  border-spacing:0;
  border-collapse:collapse;
  width:100%;
}
table tr td {
  padding:0;
}

video {
  width: 100%    !important;
  height: auto   !important;
}

.main-video {
  margin: auto;
  width: 300px;
  height: 210px;
}

.loading {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 50% 50%;
  background-image: url(../images/loading-green.gif);
  display: block;
  width: 100%; 
  height: 100%;
}
